<div class="text-center">
  <div class="container">
    <br>
    <h1>ようこそ<%= @user.name %>さん</h1>
    <br>
    <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></p>
    <p><%= link_to 'プロフィール編集', edit_user_registration_path(@user),class: "btn btn-outline-secondary" %></p>
    <br>
    <h3>つくったスレッド一覧</h3>
    <% unless @user.posts.present? %>
      <br>
      <p>つくったスレッドはありません。</p>
      <br>
    <% else %>
      <br>
      <table id="event_list" >
        <thead>
          <tr>
            <th>すれっど</th>
            <th>つくった日</th>
            <th></th>
            <th></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |post| %>
            <tr>
              <td><%= post.title.truncate(50) %></td>
              <td><%= post.updated_at.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日 %-H時%-M分") %>
              <td><%= link_to '編集', edit_post_path(post),class: "btn btn-outline-danger" if post.id ==current_user.id %></td>
              <td><%= link_to '詳細', post, class: "btn btn-outline-secondary"  %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <%= link_to '戻る', posts_path,class: "btn btn-outline-secondary" %>
  </div>
  <br>
</div>
