<div class="text-center">
  <div class="container">


    <p id="notice"><%= notice %></p>
    <div class="post_area">
      <h1>
        <%= @post.title %>
      </h1>
      <hr>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>


      <p><%= link_to '戻る', posts_path,class: "btn btn-outline-secondary" %></p>
    </div>
  </div>
</div>
